* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

strong {
  font-weight: 800;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
}

p {
  font-size: 1rem;
}

img {
  max-width: 100%;
  object-fit: cover;
}
/* Font-styling */
a {
  text-decoration: none;
}
ul {
  padding: 0;
  list-style: none;
}
.logo {
  color: #f9faf8;
}
/* navbar and logo */
.logo h2 {
  margin: 1rem 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-list {
  margin: 1rem;
  display: flex;
  gap: 2em;
}
.menu-list a {
  color: #e5e7eb;
  font-weight: 300;
}
.header-text p {
  margin-top: 0;
  margin-bottom: 2.5em;
}
.header-text h1 {
  margin: 0;
}
/* navbar:hover effect */
li a:after {
  transition: all ease-in-out 0.2s;
  background: none repeat scroll 0 0 #ffffff;
  content: '';
  display: block;
  height: 3px;
  width: 0;
  background-color: #3882f6;
}

li a:hover:after,
li a:focus:after {
  width: 100%;
}

/* Layout */
header {
  background: #1f2937;
}
.conteiner {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
}
.header-text {
  color: #f9faf8;
  width: 50%;
}
.header-img,
.header-img img {
  border-radius: 0.5em;
}
.header-img {
  width: 45%;
  height: 100%;
  max-height: 218px;
  background-color: #404040;
}
.header-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.st1-box {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.st1 {
  width: 20%;
}
.st1-img img {
  object-fit: cover;
  height: 100px;
}
/* btn */
.header-btn {
  color: #e5e7eb;
  background: #3882f6;
  padding: 1em 2em;
  border-radius: 0.5em;
}
