* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

strong {
  font-weight: 800;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
}

p {
  font-size: 1rem;
}
/* Font-styling */
a {
  text-decoration: none;
}
ul {
  padding: 0;
  list-style: none;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.st1-title,
.section1-conteiner {
  text-align: center;
  color: #404040;
}
.quote-title {
  line-height: 1.4;
  font-size: 2.2rem;
  font-weight: 300;
  font-style: italic;
  letter-spacing: -0.01em;
  color: #404040;
}
.names2 {
  color: #404040;
  font-weight: 800;
  font-size: 1.125rem;
}
.footer {
  color: #e5e7eb;
  text-align: center;
  font-size: 1rem;
}
.st3-title {
  color: #e5e7eb;
}
.st3-title-1 {
  font-weight: 800;
  font-size: 1.125rem;
}
.st3-title p {
  margin: 0;
}
/* navbar and logo */
.logo {
  color: #f9faf8;
}
.logo h2 {
  margin: 1rem 0;
  padding: 0;
}

.navbar {
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-list {
  margin: 1rem;
  display: flex;
  gap: 2em;
}
.menu-list a {
  color: #e5e7eb;
  font-weight: 300;
}
.header-text p {
  margin-top: 0;
  margin-bottom: 2.5em;
}
.header-text h1 {
  margin: 0;
}
/* navbar:hover effect */
li a:after {
  transition: all ease-in-out 0.2s;
  background: none repeat scroll 0 0 #ffffff;
  content: '';
  display: block;
  height: 3px;
  width: 0;
  background-color: #3882f6;
}

li a:hover:after,
li a:focus:after {
  width: 100%;
}

/* Layout */
/* header */
header {
  background: #1f2937;
}
.conteiner {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-text {
  margin: 12rem 0;
  color: #f9faf8;
}
.header-img img {
  border-radius: 0.5em;
}
.header-img {
  margin-left: 2em;
  width: 700px;
  height: 200px;
  background-color: #404040;
}
/* section 1 */
.section1-conteiner {
  max-width: 20%;
}
.st1 {
  width: 100%;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  margin: auto 0 5em 0;
}
.container-img {
  max-width: 200px;
  height: 200px;
}
.container-img img {
  border: 5px solid #3882f6;
  border-radius: 1em;
}
.st1-title {
  margin: 3em 0;
}
/* Section 2 */
.section2 {
  background: #e5e7eb;
  padding: 5em;
}
.names2 {
  text-align: end;
}
/* section3 */
.st3-content {
  background: #3882f6;
  padding: 3em 4em;
  margin: 6em auto;
  border-radius: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* footer */
.footer,
.footer p {
  margin: 0;
  background: #1f2937;
  padding: 1em;
}
/* btn */
.header-btn {
  white-space: nowrap;
  color: #e5e7eb;
  background: #3882f6;
  padding: 0.75em 2em;
  border-radius: 0.5em;
  transition: box-shadow 0.2s, border-radius 0.2s;
  font-weight: 800;
}
.header-btn:hover,
.header-btn:focus {
  -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 1);
  box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 1);
  border-radius: 0.7em;
}

.bottom-btn {
  margin-left: 1em;
  white-space: nowrap;
  color: #e5e7eb;
  background: #3882f6;
  border: 2px solid white;
  padding: 0.75em 2em;
  border-radius: 0.5em;
  transition: box-shadow 0.2s, border-radius 0.2s;
  font-weight: 800;
}
.bottom-btn:hover,
.bottom-btn:focus {
  -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 1);
  box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 1);
  border-radius: 0.7em;
}
